/* sass --watch style.scss:style.css */
body {
  width: 100%;
  height: 100%; }

html {
  width: 100%;
  height: 100%; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out; }

  .top-nav-collapse {
    padding: 0; } }
@media all and (max-width: 767px) {
  h1 {
    font-size: 5vw; }

  h3 {
    font-size: 3vw; }

  h4 {
    font-size: 2vw; }

  p {
    font-size: 1.8vw; }

  .btn-xs {
    font-size: 1.8vw;
    padding: 0.15vw 0.75vw; }

  li {
    line-height: 1.8vw; } }
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */
.section-intro {
  height: 100%;
  padding-top: 120px;
  padding-bottom: 30px;
  text-align: center;
  background: url("../intro/bg.JPG") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .section-intro h1 {
    color: white; }
  .section-intro p {
    color: white; }
  .section-intro a {
    color: white; }
  .section-intro .my-info {
    background-color: rgba(0, 0, 0, 0.7);
	padding-top: 1em;
    padding-bottom: 1em; }

@media (max-width: 767px) {
  .section-intro .my-info {
    width: 75%;
    margin-left: 12.5%;
  }
}
	
.section-about, .section-publication, .section-project {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .section-about, .section-publication, .section-project {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .section-about, .section-publication, .section-project {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 1999px) and (min-width: 992px) {
  .section-about, .section-publication, .section-project {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 2000px) {
  .section-about, .section-publication, .section-project {
    padding-left: 30%;
    padding-right: 30%;
  }
}

.section-about {
  background: #eee;
}
.section-about .school-fig {
  max-width: 36%;
  height: auto;
  padding: 0.5em;
}
@media (max-width: 767px) {
  .section-about .school-fig {
    max-width: 48%;
  }
}
.section-about .company-fig {
  max-width: 48%;
  height: auto;
  padding: 0.5em;
}
@media (max-width: 767px) {
  .section-about .company-fig {
    max-width: 48%;
  }
}
.section-about .education p, .section-about .industry p {
  margin: 0px;
}
.section-about .school, .section-about .company {
  padding-bottom: 15px;
}
.section-about .teaching, .section-about .professional {
  text-align: left;
}

.section-publication {
  background: #fff;
  /*  .paper-last {
      border-bottom: 2px inset WhiteSmoke;
    }*/
}
.section-publication h3.subfield {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 30px;
}
.section-publication h3.subfield-first {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
.section-publication .paper {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  /*border-top: 2px outset WhiteSmoke;*/
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.section-publication .paper .paper-fig {
  margin: auto;
}
.section-publication .paper .paper-fig img {
  margin: auto;
  max-height: 150px;
}
.section-publication .paper .paper-info {
  margin: auto;
}
@media (max-width: 767px) {
  .section-publication .paper {
    text-align: center;
  }
  .section-publication .paper img {
    height: 25vw;
  }
  .section-publication .paper p {
    font-size: 1.8vw;
  }
}

.section-project {
  background: #eee;
}

.subtitle {
  margin-bottom: 2vw;
}

.popover .popover-title, .popover .popover-content {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
@media (max-width: 767px) {
  .popover {
    max-width: 80%;
  }
  .popover .popover-title, .popover .popover-content {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .popover {
    max-width: 60%;
  }
  .popover .popover-title, .popover .popover-content {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media (max-width: 1999px) and (min-width: 992px) {
  .popover {
    max-width: 45%;
  }
  .popover .popover-title, .popover .popover-content {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media (min-width: 2000px) {
  .popover {
    max-width: 35%;
  }
  .popover .popover-title, .popover .popover-content {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

/*# sourceMappingURL=style.css.map */
