/* sass --watch style.scss:style.css */
body {
  width: 100%;
  height: 100%; }

html {
  width: 100%;
  height: 100%; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out; }

  .top-nav-collapse {
    padding: 0; } }
@media all and (max-width: 767px) {
  h1 {
    font-size: 5vw; }

  h3 {
    font-size: 3vw; }

  h4 {
    font-size: 2vw; }

  p {
    font-size: 1.8vw; }

  .btn-xs {
    font-size: 1.8vw;
    padding: 0.15vw 0.75vw; }

  li {
    line-height: 1.8vw; } }
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */
.section-intro {
  height: 100%;
  padding-top: 120px;
  padding-bottom: 30px;
  text-align: center;
  background: url("../intro/IMG_1930_2.JPG") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .section-intro h1 {
    color: white; }
  .section-intro p {
    color: white; }
  .section-intro a {
    color: white; }
  .section-intro .my-info {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1em; }

.section-about {
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background: #eee; }

.section-publication {
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background: #fff; }

.section-project {
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background: #eee; }

.subtitle {
  margin-bottom: 2vw; }

.paper {
  margin-bottom: 1.5vw;
  padding: 10px;
  display: flex;
  align-items: center; }

.project-pair {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .project-pair .project {
    border-bottom: 3px solid gray;
    background: white;
    padding: 20px;
    /*margin: 20px 0px 20px 0px;*/
    height: 100%; }
    .project-pair .project .project-fig {
      margin: 0 auto;
      width: 70%; }
    .project-pair .project .project-text {
      margin-top: 20px; }

.popover {
  max-width: 50%; }
  .popover .popover-title, .popover .popover-content {
    font-family: "Times New Roman", Times, serif; }

.profile-fig {
  width: 150px; }

.school-fig {
  max-width: 50%;
  height: auto;
  padding: 0.5em; }

.company-fig {
  max-width: 50%;
  height: auto;
  padding: 0.5em; }

.label-success {
  background-color: gray; }

.btns {
  margin-bottom: 10px; }

.paper-fig {
  width: 100%; }

.news {
  height: 200px;
  overflow-y: scroll; }

/*# sourceMappingURL=style.css.map */
